.navbar{
    width: 100% !important;
    height: 120px;
    padding: 10px 50px;
    margin:0;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 221, 221) !important;
    
}

.navbar-collapse{
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.navbar-brand-img{
    width: 110px;
    height: 110px;
}